.myBlogSec {
  width: 100%;
  font-family: sans-serif;
  height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  background-color: rgb(248, 249, 250);
  p {
    a {
      color: #000;
      font-weight: bold;
    }
  }
}
.myblogsPage {
  width: 80%;
  margin: 50px auto;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;

  .myblogs {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 50px;
    .myblog {
      max-width: 380px;
      min-height: 400px;
      .img {
        position: relative;
        .pen {
          position: absolute;
          width: 50px;
          height: 50px;
          top: 20px;
          right: 20px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.433);
          display: flex;
          align-items: center;
          justify-content: center;
          .fa-pen-to-square {
            color: white;
            font-size: 20px;
          }
        }
        img {
          width: 100%;
          height: 250px;
          object-fit: cover;
          cursor: pointer;
          &:hover {
            transition: 0.4s ease;
          }
        }
      }

      h3 {
        color: #222222;
        font-size: 22px;
        margin-top: 20px;
        transition: all 600ms;
        cursor: pointer;
        &:hover {
          color: #555;
        }
      }

      .date {
        display: flex;
        gap: 15px;
        margin: 10px 0;
        p {
          color: rgb(90, 90, 90);
          span {
            color: #000;
          }
        }
      }
    }
  }
}
.loaderCenterCards {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .fa-spin {
    font-size: 55px;
    color: black;
  }
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
  .myblogsPage {
    .myblogs {
      display: grid;
      grid-template-columns: auto !important;
    }
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .myblogsPage {
    .myblogs {
      display: grid;
      grid-template-columns: auto auto !important;
    }
  }
}
